<launch>
    <!--Launch the visualization-->
    <!-- <arg name="viz" default="false" doc="whether to run a rviz"/> -->
    <arg name="viz" default="true" doc="whether to run a rviz"/>

    <node if="$(arg viz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find thermal_camera)/config/rviz.rviz"/>


    <!-- Launch the node   -->
    <node pkg="thermal_camera" type="thermal_camera_stereo" name="thermal_camera_stereo" required="true" output="screen"/>
    <param name="config_file" type="string" value="$(find thermal_camera)/config/settings.xcf" />

</launch>